@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 800px;
    margin: 0 auto;
    background-color: dodgerblue;
    padding-top: 200px; /* sectuion 1 */
    padding: 200px 0;
    margin-top: 50px;
}

.wrap>div {
    height: 300px;
    background-color: fuchsia;
    border-top: 1px solid #222;
}

.wrap>div+div{
    margin-top: 200px;
}
/* + -> 
맨끝 입장에서 생각
바로 한단계 위 형제
section 2,3,4

위아래 병합상태 있음 -> 전체에 padding,margin 조절
*/
.wrap .section2 div{
    margin-top: 50px;
}

